<div class="card-body" style="display: flex; justify-content: space-between; align-items: center; margin-top:10rem;">

    <a asp-controller="Plot" asp-action="PlotAdd">
        <div class="card" style="flex: 1; text-align: center; width: 40rem; margin-left: -10%; position: relative;">
            <img style="width: 100%;" src="/img/indeximg/931047674a2b0592cb521f702b9566ee.jpg" alt="Açıklama">
            <p style="position: absolute; margin-left:1%; margin-top: 1%; padding: 15px; font-size: 24px; color: white; background: rgba(0, 0, 0, 0.7); border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); font-weight: bold;">
               Arsa İlanı Ver
            </p>
        </div>
    </a>

    <a asp-controller="House" asp-action="HouseAdd">
        <div class="card" style="flex: 1; text-align: center; width: 40rem; margin-left: 10%; position: relative;">
            <img style="width: 100%;" src="/img/indeximg/pexels-photo-106399.jpeg" alt="Açıklama">
            <p style="position: absolute; margin-left:1%; margin-top: 1%; padding: 15px; font-size: 24px; color: white; background: rgba(0, 0, 0, 0.7); border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); font-weight: bold;">
                Ev İlanı Ver
            </p>
        </div>
    </a>

</div>
</div>

</div>