<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-4 text-danger">403 - Yetkisiz İşlem</h1>
        <p class="lead mt-4">Bu işlem için izniniz yok. Lütfen yetkilinizle iletişime geçin.</p>
        <a href="/" class="btn btn-primary mt-3">Anasayfaya Dön</a>
    </div>
</div>
